@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color-scheme: light;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*{
  scrollbar-width: none;
  -ms-overflow-style: none;
}


[data-preview-page] {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Disable print */
@media print {
  body {
    display: none !important;
  }
}

/* Disable screenshot on some browsers (limited support) */
@media screen {
  canvas[data-protected] {
    -webkit-touch-callout: none;
  }
}